extends layout/default

append styles
  :stylus
    body
      height 2000px

    .square
      width 40px
      height 40px
      background-color #000

      &.absolute
        position absolute

      &.one
        top 100px
        left 100px

      &.two
        top 200px
        left 200px

      &.three
        top 300px
        left 300px

      &.four
        top 400px
        left 400px

append scripts
  script
    var Tooltip = require('tooltip');

    setTimeout(function () {

      (function one() {
        var square = document.querySelector('.square.one.absolute');
        var tooltip = new Tooltip;

        tooltip.appendTo(document.body);
        tooltip.text('Top');
        tooltip.to(square).top(2);
      })();

      (function two() {
        var square = document.querySelector('.square.two.absolute');
        var tooltip = new Tooltip;

        tooltip.appendTo(document.body);
        tooltip.text('Right');
        tooltip.to(square).right(4);
      })();

      (function three() {
        var square = document.querySelector('.square.three.absolute');
        var tooltip = new Tooltip;

        tooltip.appendTo(document.body);
        tooltip.text('Bottom');
        tooltip.to(square).bottom(6);
      })();

      (function four() {
        var square = document.querySelector('.square.four.absolute');
        var tooltip = new Tooltip;

        tooltip.appendTo(document.body);
        tooltip.text('Left');
        tooltip.to(square).left(8);
      })();

    }, 1000);


append content
  .square.absolute.one
  .square.absolute.two
  .square.absolute.three
  .square.absolute.four
