extends layout/default

append styles
  :stylus
    body
      height 2000px

append scripts
  script
    var Tooltip = require('tooltip');
    var tooltip;

    (function one() {
      var tooltip = new Tooltip;

      tooltip.appendTo(document.body);
      tooltip.text('Top');
      tooltip.fixed().at(100, 100).top();
    })();

    (function two() {
      var tooltip = new Tooltip;

      tooltip.appendTo(document.body);
      tooltip.text('Right');
      tooltip.fixed().at(200, 200).right();
    })();

    (function three() {
      var tooltip = new Tooltip;

      tooltip.appendTo(document.body);
      tooltip.text('Bottom');
      tooltip.fixed().at(300, 300).bottom();
    })();

    (function four() {
      var tooltip = new Tooltip;

      tooltip.appendTo(document.body);
      tooltip.text('Left');
      tooltip.fixed().at(400, 400).left();
    })();

append content
