extends layout/default

append styles
  :stylus
    #trigger
      position absolute
      left 200px
      top 200px

append scripts
  script
    var Tooltip = require('tooltip');

    document.getElementById('trigger').addEventListener('mouseenter', function onMouseenter(mouseenterEvent) {
      var tooltip = new Tooltip;

      tooltip.html(this.getAttribute('data-tip-content'));
      tooltip.appendTo(document.body);
      tooltip.to(this).top(2);

      this.addEventListener('mouseleave', function onMouseleave(mouseleaveEvent) {
        tooltip.remove();
        this.removeEventListener('mouseleave', onMouseleave);
      });
    });

append content
  a#trigger.tooltip-trigger(href="#", data-tip-content="Hello world", data-tip-default-position="right") Test One
