extends layout/default

append styles
  :stylus
    body
      height 2000px

    #trigger-one
      position absolute
      left 200px
      top 200px

    #trigger-two
      position absolute
      top 300px
      left 300px

    #click-show
      position fixed
      top 400px
      left 400px

append scripts
  script
    var Tooltip = require('tooltip');
    var triggers = document.querySelectorAll('.tooltip-trigger');

    document.querySelector('[data-hover-show-tooltip]').addEventListener('mouseenter', function () {
      var selector = this.getAttribute('data-hover-show-tooltip');
      var tooltip = new Tooltip(document.querySelector(selector));

      tooltip.show();
      tooltip.to(this).top(10);
    });

    document.querySelector('[data-hover-show-tooltip]').addEventListener('mouseleave', function () {
      var selector = this.getAttribute('data-hover-show-tooltip');
      var tooltip = new Tooltip(document.querySelector(selector));

      tooltip.hide();
    });

    function id(id) {
      return document.getElementById(id);
    }

    var clickShowTooltip;

    document.querySelector('#click-show').addEventListener('click', function (clickEvent) {
      clickEvent.preventDefault();

      if (!clickShowTooltip) {
        clickShowTooltip = new Tooltip;
        clickShowTooltip.text('Hello World');
        clickShowTooltip.append().show();
        clickShowTooltip.toFixed(this).top(10);
      } else {
        if (clickShowTooltip.isHidden()) {
          clickShowTooltip.show();
        } else {
          clickShowTooltip.hide();
        }
      }
    });

append content
  a#trigger-one.tooltip-trigger(href="#", data-tip-content="Hello world", data-tip-default-position="right") Test One
  a#trigger-two.tooltip-trigger(href="#", data-hover-show-tooltip="#tip-one", data-top-default-position="top") Test Two
  a#click-show(href="#") Click show
  p

  #tip-one.ui.tooltip.right
    .content
      .text Hello world
      .text Hello world
      .text Hello world
      .text Hello world
    .arrow

  p

  #tip-two.ui.tooltip.left
    .content
      .text Hello world
      .text Hello world
      .text Hello world
    .arrow

  p

  #tip-three.ui.tooltip.top
    .content
      .text Hello world
      .text Hello world
      .text Hello world
    .arrow

  p

  #tip-four.ui.tooltip.bottom
    .content
      .text Hello world
      .text Hello world
    .arrow
