.ui.tooltip
  position absolute
  display none

  &.show
    display table

  &.right, &.left
    >.arrow
      top 50%
      margin-top -6px

  &.top, &.bottom
    >.arrow
      left 50%
      margin-left -6px

  &.right
    >.arrow
      border-right-color black
      left -12px

  &.left
    >.arrow
      border-left-color black
      right -12px

  &.top
    >.arrow
      border-top-color black
      bottom -12px

  &.bottom
    >.arrow
      border-bottom-color black
      top -12px

  >.arrow
    position absolute
    border-color transparent
    border-style solid
    border-width 6px

  >.content
    display table
    color #ffffff
    background-color #000000
    padding 5px
    border-radius 3px
